extends layout

block content
  h1= title
  p Selamat datang ke komunitas #{title}

  h2 Tentang
  p Ini merupakan komunitas, bukan komersil. Memang domainnya .com tapi
  lagi pengin berubah ke or.id tapi gak ada dana jadi .com ajah dulu wkwkwkwk.
  Bahasannya seputar : FDTD, RF, DSP, Cloud, Programming, Dll 

  ul#workshops
    li: a(href="/fdtd") FDTD
    li: a(href="/cheat") CHEAT